<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
</head>

<!-- Script to get geolocation from browser pop-up -->
<script>
    function getLocationAndSubmit() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPositionAndSubmit, handleError);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function handleError(error) {
    document.getElementById('dataForm').submit(); // Submit form even if geolocation access is denied or unavailable
     }

    function showPositionAndSubmit(position) {
        document.getElementById('lat').value = position.coords.latitude;
        document.getElementById('lng').value = position.coords.longitude;
        document.getElementById('dataForm').submit();
    }
</script>

<body style="background-color:lightgrey;"> <!-- Defines Background color -->

    <!-- Creates Table -->
    <table border="1">
        <!-- Table Heading -->
        <thead>
            <tr>
                <th><a href="#">Report ID</a></th>
                <th><a href="#">User ID</a></th>
                <th><a href="#">Username</a></th>
                <th><a href="#">Date & Time</a></th>
                <th><a href="#">Latitude</a></th>
                <th><a href="#">Longitude</a></th>
                <th><a href="#">State</a></th>
                <th><a href="#">Country</a></th>
                <th><a href="#">Temperature</a></th>
                <th><a href="#">IP Address</a></th>
                <th><a href="#">Description</a></th>
                <th><a href="#">Classification</a></th>
                <th><a href="#">File Path</a></th>
            </tr>
        </thead>

        <!-- Data in table -->
        <tbody>
            {% for report in reports %}
            <tr>
                <td>{{ report[0] }}</td>
                <td>{{ report[1] }}</td>
                <td>{{ report[2] }}</td>
                <td>{{ report[3] }}</td>
                <td>{{ report[4] }}</td>
                <td>{{ report[5] }}</td>
                <td>{{ report[6] }}</td>
                <td>{{ report[7] }}</td>
                <td>{{ report[8] }}</td>
                <td>{{ report[9] }}</td>
                <td>{{ report[10] }}</td>
                <td>{{ report[11] }}</td>
                <td>{{ report[12] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <!-- Filtering Parameters -->
    <form id="dataForm" method="get" action="/data" onsubmit="getLocationAndSubmit(); return false;">
        <h3>Choose what Parameters below to filter by. Click "Filter Table" to Filter Table Data</h3>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date"><br><br>
        
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date"><br><br>

        <label for="sort">Sort By:</label>
        <label><input type="radio" name="sort" value="newest" checked>Newest to Oldest</label>
        <label><input type="radio" name="sort" value="oldest">Oldest to Newest</label><br><br>

        <label for="max">Max # of Reports:</label>
        <input type="number" id="max" name="max"><br><br>

        <label for="dist">Distance (km):</label>
        <input type="number" id="dist" name="dist" step="any"><br><br>

        <h4>Enter Latitude and Longitude with Distance if not providing Browser Location</h4>
        <label for="lat">Latitude:</label>
        <input type="number" id="lat" name="lat" step="any"><br><br>
        
        <label for="lng">Longitude:</label>
        <input type="number" id="lng" name="lng" step="any"><br><br><br><br>
        
        <input type="submit" value="Filter Table"><br><br>

    </form>

    <!-- Reset Table button -->
    <form method="get" action="/data">
        <input type="submit" name="reset_table" value="Reset Table"><br><br><br><br>
    </form>
    
    <!-- Add the Return Home button -->
    <form method="get" action="/">
        <input type="submit" name="view_data" value="Return Home">
    </form>
    
</body>
</html>