<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Uses created CSS style -->
</head>

<div class="center"> <!-- Center content on page -->
<body style="background-color:lightgrey;"> <!-- Defines Background color -->

    <!-- Adds an Image -->
    <header>
        <img src='/static/media/welcome.png' width="320" height="200" alt="welcome"> 
    </header>
    
    <!-- Creates Register section of page-->
    <h2>Register</h2>
    <form method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" name="register" value="Register">
    </form>

    <!-- Notifies user that there account is created -->
    {% if registered %}
        <p style="color: blue;">{{ registered }}</p>
    {% endif %}

    <!-- Error message section for already registered username -->
    {% if register_error %}
        <p style="color: red;">{{ register_error }}</p>
    {% endif %}

    <!-- Creates Login section of page-->
    <br><br>
    <h2>Login</h2>
    <form method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" name="login" value="Login">
    </form>

    <!-- Error message section for invalid username or password-->
    {% if login_error %}
        <p style="color: red;">{{ login_error }}</p>
    {% endif %}

    <!-- Creates Data section of page-->
    <br><br>
    <h2>Data</h2>
    <form method="GET" action="/data">
        <label for="submit">Click below to view data:</label><br>
        <input type="submit" name="view_data" value="View Data">
    </form>

</body>
</html>
